<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <!--
            LDPlayer's netd does not support the cleartext policy used by
            Google Analytics. Disable Analytics in debug builds so its worker
            cannot terminate the app during startup.
        -->
        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="true"
            tools:replace="android:value" />
    </application>
</manifest>
